:root{
    --bg-primary:#3d47cb;
    --bg-secondary:#ffc90e;
    --text-primary:#3d47cb;
    --text-secondary:#ffc90e;
}

.bg-primary-100{ background:var(--bg-primary); }
.bg-secondary-100{ background:var(--bg-secondary); }

.text-primary-100{ color:var(--text-primary); }
.text-secondary-100{ color:var(--text-secondary); }