:root{
    --color-primary:#28d2c7;
    --color-secondary:#5850ec;
    --color-gray-1:#f5f6fa;
    --color-gray-2:#ebebf0;
    --color-gray-3:#c7c8c9;
    --color-gray-4:#cacfd2;
    --color-gray-5:#f8f9f9;
    --color-gray-6:#868e96;
    --color-black-1:#2c3e50;
    --color-black-2:#333333;
    --color-white:#fdfefe;
    --color-green:#2ecc71;
    --transition:.3s all;
    --linear-gradient:linear-gradient(100deg, rgba(40,210,199,1) 53%, rgba(88,80,236,1) 97%);
    --box-shadow-1:0px 1px 2px rgba(0,0,0,0.1);
    --box-shadow-2:0px 7px 11px -3px rgba(156,156,161,0.5);
    --box-shadow-3:1px -4px 10px -7px rgba(0,0,0,0.3);
    --box-shadow-4:'';
}

a{ cursor:pointer; }

/*****************************************************************/
/*                   twopoints.css v.0.1 - Paralel               */
/*****************************************************************/

.bg-color\:1{ background:var(--color-primary)!important; }
.bg-color\:2{ background:var(--color-secondary)!important; }
.bg-color\:3{ background:var(--color-gray-4)!important; }
.bg-color\:4{ background:var(--color-gray-1)!important; }

.text-color\:1{ color:var(--color-primary)!important; }
.text-color\:2{ color:var(--color-secondary)!important; }
.text-color\:3{ color:var(--color-green); }

.hover\:bg-color-1:hover{
    transition:0.3s all; 
    background:var(--color-primary)!important;
}
.hover\:bg-color-2:hover{
    transition:0.3s all; 
    background:var(--color-secondary)!important;
}

.border\:color-1{ border-color:#dee2e6!important; }
.border\:color-2{ border-color:var(--color-gray-2)!important; }

.box-shadow\:1{
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

.list-style-type\:none{
    list-style-type:none!important;
}

.font-size\:1 { font-size:1rem!important; }
.font-size\:2 { font-size:1.5rem!important; }
.font-size\:3 { font-size:2rem!important; }
.font-size\:4 { font-size:2.5rem!important; }
.font-size\:5 { font-size:3rem!important; }
.font-size\:6 { font-size:3.5rem!important; }
.font-size\:7 { font-size:4rem!important; }
.font-size\:8 { font-size:4.5rem!important; }
.font-size\:9 { font-size:5rem!important; }
.font-size\:10{ font-size:5.5rem!important; }

.font-weight\:1{ font-weight: 100!important; }
.font-weight\:2{ font-weight: 200!important; }
.font-weight\:3{ font-weight: 300!important; }
.font-weight\:4{ font-weight: 400!important; }
.font-weight\:5{ font-weight: 500!important; }
.font-weight\:6{ font-weight: 600!important; }
.font-weight\:7{ font-weight: 700!important; }
.font-weight\:8{ font-weight: 800!important; }
.font-weight\:9{ font-weight: 900!important; }

/**/

.box-shadow{
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    border-radius: 1px;
}
/**/
.separate-horizontal{
    width: 100%;
    margin:10px 0px;
    position: relative;
    height: 0px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}
.separate-horizontal:after {
    height: 1px;
    background: #e8e8e8;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: -1px;
    content: "";
    width: 100%;
    left: 0;
}
/*****************************************************************/
/*                          Media screen                         */
/*****************************************************************/
@media screen and (min-width:300px){

}
@media screen and (min-width:576px){
}
@media screen and (min-width:768px){

}
@media screen and (min-width:992px){

}
@media screen and (min-width:1200px){

}

/* 
    // Paralel

 */