:root{
    --bg-primary:#3d47cb;
    --bg-secondary:#ffc90e;
    --text-primary:#3d47cb;
    --text-secondary:#ffc90e;
    --text-white:#ffffff;
    --transition:.3s all;
}

.bg-primary-100{ background:var(--bg-primary); }
.bg-secondary-100{ background:var(--bg-secondary); }

.text-primary-100{ color:var(--text-primary); }
.text-secondary-100{ color:var(--text-secondary); }

.text-form-top{
    display:block;
    color:rgba(255,255,255,0.8);
    font-size:1rem;
    letter-spacing:0.05rem;
}

.container-notification{
    position:fixed;
    width:90%;
    bottom:3rem;
    left:50%;
    transform:translate(-50%);
    
    background:rgba(0,0,0,0.87);
    border:2px solid #28d2c7;
    color:#fff;
    border-radius:1rem;
    padding:1rem;
    z-index:1300;
}
.container-notification.top{
    top:1rem;
    bottom:auto;
}

@media  screen and (min-width:576px){
    .container-notification{
        width:auto;
    }
}

@media screen and (min-width:768px){
    .text-form-top{
        display:inline;
    }
}
